@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --main-color: #5768ea;
  --black-color: #393939;
  --white-color: #ffffff;
  --bg-color: #eef5ff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}

/* Navbar */

.nav {
  background-color: var(--white-color);
  padding: 10px 0;
}

.nav_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  align-items: center;
}

.nav_link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.nav_link a {
  font-size: 16px;
  color: var(--black-color);
  text-decoration: none;
}

.nav_link:last-child {
  margin-right: 0;
}

.nav_link_icon {
  margin-right: 5px;
}

.nav_right {
  display: flex;
  align-items: center;
}

.change_lang {
  display: flex;
  align-items: center;
}

.change_lang a {
  font-size: 16px;
  margin-left: 8px;
  text-decoration: none;
  color: var(--black-color);
}

.search_form {
  margin-left: 25px;
  position: relative;
}

.search_form input {
  background-color: var(--bg-color);
  color: var(--black-color);
  padding: 16px 24px;
  border-radius: 50px;
  border: none;
  width: 325px;
}

.search_form button {
  padding: 12px;
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 14px;
}

/* Header */

.header {
  margin-top: 40px;
}

.header_inner {
  display: flex;
  align-items: center;
}

.header_title {
  font-size: 48px;
  color: var(--black-color);
  width: 640px;
  font-weight: 600;
}

.header_subtitle {
  margin-top: 15px;
  font-size: 20px;
}

.btn {
  background-color: var(--main-color);
  padding: 16px 50px;
  color: var(--white-color);
  border-radius: 50px;
  border: none;
  font-size: 14px;
}
